@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Courgette');

    
/** Header **/

html, body {
    height: 100%;
    margin: 0%;
}

header {
    background-image: url("img/background-home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

header h1 {
    margin: 0%;
    background-color: rgba(15, 157, 232, 0.8);
    color: rgb(50, 50, 50);
    font-family: 'Courgette';
    padding: 10px 10px 5px 5px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.58,.46,.39,.89);
    animation: enter 2s ease-in-out;
    animation-name: enter;
}

header a {
    text-decoration: none;
}

header h1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(252, 133, 125);
}

/** Navigation **/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(52, 73, 94);
    font-family: 'Courgette';
    font-size: 20px;
}

.nav-item {
    height: 75px;
    min-width: 100px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item a, .nav-item a:visited {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #9c9390;
}

#current-nav-item {
    background-color: #9c9390;
}


/** SECTION **/


/** Section sectionprez1 **/

#sectionprez1 {
    margin: 0%;
    background-image: url("img/feuille.jpg");
    color: white;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sectionprez1 article {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    font-family: 'Nunito';
    flex: 1;
}

#sectionprez1 b {
    font-variant: unset;
    font-weight: bolder;
    color : rgb(102, 196, 216);
}

#sectionprez1 a {
    text-decoration: none;
    font-style: italic;
    color: rgb(252, 133, 125);
}

#sectionprez1 h1 {
    margin: 0%;
    text-transform: uppercase;
    font-size: 25px;
}

.img-pres {
    background-image: url('img/team-diabolo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

/** Section Main Page **/

#main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    background-color: rgb(252, 133, 125);
    background-image: url("img/rose.jpg");
    min-height: 100%;
}

#main-page a {
    width: 25%;
    margin: 15px;
    text-decoration: none;
    font-family: 'Courgette';
}


#main-page article {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#main-page article:hover {
    filter: grayscale(100%);
}

#main-page article h2 {
    background-color: rgba(0,0,0,0.5);
    width: 100%;

}

#main-page article {
    display: flex;
    flex-direction: column;
    height: 150px;
    border: solid white;
    color: rgb(255, 255, 255);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#article-1 {
    background-image: url("img/histoire.jpg");
}

#article-2 {
    background-image: url("img/experience.jpg");
}

#article-3 {
    background-image: url("img/loisir.jpg");
}

#article-4 {
    background-image: url("img/competence.jpg");
}

#article-5 {
    background-image: url("img/voyage.jpg");
}
#article-6 {
    background-image: url("img/contact.jpg");
}

/** Responsive **/
/* Mobile */

@media screen and (max-width: 600px) {
    section {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #main-page a {
        width : 80%
}
}

/* Tablette */

@media screen and (min-width: 600px) and (max-width: 900px) {
    #main-page a {
        width: 37%
    }
}

/** Animations **/

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(100px);
    } 
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

/** Footer **/

footer {
    margin: 0%;
    text-align: center; 
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


footer a {
    text-decoration: none;
}

footer img {
    margin: 10px;
    width: 25px;
}