@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

* {
    font-family: 'Nanum Pen Script';

/** Header **/
}
html, body {
    height: 100%;
    margin: 0%;
}

header {
    background-image: url("img/Pompom2018.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0%;
    background-color: rgba(15, 157, 232, 0.8);
    color: rgb(50, 50, 50);
    padding: 10px 10px 5px 5px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.58,.46,.39,.89);
    animation: enter 2s ease-in-out;
    animation-name: enter;
}

header h1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(252, 133, 125);
}

/** SECTION **/

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    background-color: rgb(252, 133, 125);
    min-height: 100%;
}

section a {
    width: 23%;
    margin: 15px;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 15px 50px;
    background-image: url("img/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid white; 
    color: rgb(252, 133, 125);
}

/** Responsive **/
/* Mobile */

@media screen and (max-width: 600px) {
    section {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    section a {
        width : 80%
}
}

/* Tablette */

@media screen and (min-width: 600px) and (max-width: 900px) {
    section a {
        width: 37%
    }
}

/** Animations **/

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(100px);
    } 
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}