/** SECTION **/


/** Section sectionprez1 **/

#sectionprez1 {
    margin: 0%;
    background-image: url("../img/feuille.jpg");
    color: white;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sectionprez1 article {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    font-family: 'Nunito';
    flex: 1;
}

#sectionprez1 b {
    font-variant: unset;
    font-weight: bolder;
    color : rgb(102, 196, 216);
}

#sectionprez1 a {
    text-decoration: none;
    font-style: italic;
    color: rgb(252, 133, 125);
}

#sectionprez1 h1 {
    margin: 0%;
    text-transform: uppercase;
    font-size: 25px;
}

.img-pres {
    background-image: url('../img/boeufmusical.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

/** Section Main Page **/

#main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    background-color: rgb(252, 133, 125);
    background-image: url("../img/rose.jpg");
    min-height: 100%;
}

#main-page a {
    width: 25%;
    margin: 15px;
    text-decoration: none;
    font-family: 'Courgette';
}


#main-page article {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#main-page article:hover {
    filter: grayscale(100%);
}

#main-page article h2 {
    background-color: rgba(0,0,0,0.5);
    width: 100%;

}

#main-page article {
    display: flex;
    flex-direction: column;
    height: 150px;
    border: solid white;
    color: rgb(255, 255, 255);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#article-1 {
    background-image: url("../img/histoire.jpg");
}

#article-2 {
    background-image: url("../img/experience.jpg");
}

#article-3 {
    background-image: url("../img/loisir.jpg");
}

#article-4 {
    background-image: url("../img/competence.jpg");
}

#article-5 {
    background-image: url("../img/voyage.jpg");
}
#article-6 {
    background-image: url("../img/contact.jpg");
}

